<div class="row">
	<div ng-if="kaomoji().length == 0" class="text-center">
		no kaomoji found ( ´･ω･)
	</div>
	<div ng-repeat="k in kaomoji() | startFrom: paging.startFrom() | limitTo: paging.perPage" class="col-lg-3 col-md-6">
		<div class="kaomoji-container">

			<input type class="kaomoji" ng-value="k.text" ng-click="select($event)" />

			<legend>
				tags
			</legend>

			<span ng-repeat="tag in k.tags">
				{{ tag }}
			</span>
		</div>
	</div>
</div>

<nav ng-if="paging.count() > 1">
	<ul class="pager">
		<li class="previous" ng-class="{disabled:paging.page()<=0}">
			<a href="" ng-click="paging.previous()">Previous</a>
		</li>
		<li class="next" ng-class="{disabled:paging.page()>=paging.count()-1}">
			<a href="" ng-click="paging.next()">Next</a>
		</li>
	</ul>
</nav>
