$headband-color: #9664B5;
$eye-color: #FFF;

.brand-logo {
	display: inline-block;
	position: relative;
	font-size: 45px;

	margin-left: 10px;

	&::after {
		background-color: $headband-color;

		display: block;
		content: ' ';
		position: absolute;

		top: 12px;
		left: 0px;

		height: 15px;
		width: 100%;
	}

	.face {
		display: inline-block;
		height: 55px;
		line-height: 55px;
		position: relative;
		z-index: 1;

		width: 130px;

		.eye {
			display: inline-block;
			color: $eye-color;
			font-size: 45px;
			line-height: 16px;

			position: absolute;

			top: 12px;

			&:first-child {
				left: 0;	
			}

			&:last-child {
				right: 0;
			}
		}
	}
}
