.kaomoji {
	white-space: nowrap;
}

.kaomoji-container {
	padding: 1em;
	background-color: #F8F8F8;
	margin-bottom: 2em;

	.kaomoji {
		display: block;
		text-align: center;

		overflow-x: auto;
		overflow-y: hidden;

		padding: 0.5em 1em;

		font-size: 20px;

		height: 70px;
		line-height: 45px;
	}

	legend {
		color: #666;
		border-color: #E5E5E5;
		border-width: 1px 0 0;
		border-style: solid;
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: 12px;
	}
}
