.kaomoji-container {
	$background-color: #F8F8F8;

	padding: 1em;
	background-color: $background-color;
	margin-bottom: 2em;

	.kaomoji {
		white-space: nowrap;

		display: block;
		text-align: center;

		overflow-x: auto;
		overflow-y: hidden;

		padding: 0.5em 1em;

		font-size: 20px;

		height: 70px;
		line-height: 45px;
		width: 100%;

		background-color: transparent;
		border-style: none;
		border-color: transparent;

		transition: all 0.4s;

		&:focus {
			transition: all 0.4s;

			background-color: #FFF;
			border: 1px solid darken($background-color, 10%);
		}
	}

	legend {
		color: #666;
		border-color: darken($background-color, 10%);
		border-width: 1px 0 0;
		border-style: solid;
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: 12px;
	}
}
