<!DOCTYPE html>
<html lang="en" ng-app="kaomojiApp">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link href="//oss.maxcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />

		<link href="/assets/styles/app.css" rel="stylesheet" />

		<script type="text/javascript" src="//oss.maxcdn.com/angularjs/1.3.5/angular.min.js"></script>
		<script type="text/javascript" src="//oss.maxcdn.com/angularjs/1.3.5/angular-resource.min.js"></script>
		<script type="text/javascript" src="//oss.maxcdn.com/angularjs/1.3.5/angular-route.min.js"></script>

		<script type="text/javascript" src="/assets/scripts/app.js"></script>
		<script type="text/javascript" src="/assets/scripts/filters.js"></script>
		<script type="text/javascript" src="/assets/scripts/controllers.js"></script>
		<script type="text/javascript" src="/assets/scripts/services.js"></script>

		<title>{{ site.name }}</title>
	</head>
	<body>
		<header class="page-header">
			<h1 class="page-header-title">
				<div class="brand-logo">
					<span class="face"><span class="eye">・</span><span class="mouth">﹏</span><span class="eye">・</span></span>
				</div>

				{{ site.name }}
			</h1>

			<nav></nav>
		</header>

		<div class="container">
			{{ content }}
		</div>

		<div class="footer text-center">
			<hr />

			<ul>
				<li>
					{% if site.data.kaomoji.size > 0 %}
						{{ site.data.kaomoji.size }}
					{% else %}
						No
					{% endif %}

					kaomoji in the database.
				</li>
				<li>
					<a href="{{ site.github_project_url }}">
						View project on Github
					</a>
				</li>
			</ul>
		</div>

		{% include analytics.html %}
	</body>
</html>
	
		
