<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link href="//oss.maxcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />

		<link href="/assets/styles/app.css" rel="stylesheet" />

		<title>{{ site.name }}</title>
	</head>
	<body>
		<header class="page-header">
			<h1 class="page-header-title">
				<div class="branding"></div>

				{{ site.name }}
			</h1>

			<nav></nav>
		</header>

		<div class="container">
			{{ content }}
		</div>
	</body>
</html>
	
		
